body {
    background-color: #E0E0E0;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Lucida Console', sans-serif;
    font-size: 13pt;
    color: #E0E0E0;
    font-weight: 300;
}
body img {
    padding-right: 20px;
}
header {
    text-align: center;
    padding-bottom: 10px;
    padding-top: 0px;
}
header img {
    width: 100%;
    padding-bottom: 10px;
}
header p {
    color: black;
    margin: 0;
}
.container img {
    width: 100px;
    height: 100px;
}
button {
    position: absolute;
    float: right;
}
.container {
    margin-left: 0;
    margin-right: 0;
}
.form-control {
    border-radius: 25px;
    height: 40px;
    width: 50%;
    font-size: 18px;
    padding-left: 25px;
    transition: width 2s;
}
.form-control:focus {
    border-color: #4169E1;
    box-shadow: 1px 1px 10px #4169E1;
}
.form-control:hover {
    width: 100%;
}
.form-group {
    padding-top: 10px;
}
.boxes {
    background-color: #E0E0E0;
    box-shadow: 0px 0px 10px 0px #4169E1;
    padding-left: 0;
    background-color: #121314
}
