<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Spotify Template</title>
	<link rel="shortcut icon" type="image/png" href="img/spotify.png"/>
	<!-- Include libraries -->
	<script src="https://code.jquery.com/jquery.min.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
	<!-- Read scripts -->
	<script src="app.js"></script>
	<link href="app.css" type="text/css" rel="stylesheet"/>	
</head>
<body>
    <header>
    	<img src='img/spotify.png'>
    	<p>Search your favorite artists, albums, or songs interactively.</p>
    	<p>Also, enjoy the preview by just clicking on the song.</p>
    </header>
	<!-- Initiate app -->
	<div ng-app="myApp" ng-controller="myCtrl" class="container">
		<!--  Artist Search -->
		<div>
			<form class="container" name="artistForm" nonvalidate>
				<div class="form-group" ng-class="{'has-error' : !artistForm.search.$pristine && artistForm.search.$error.minlength}">
					<input name="search" ng-model="findArtist" ng-minlength="3" class="form-control" placeholder="Artist search..." required></input>
					<!-- provides error message only when search is shorter than minimum length -->
					<p ng-show="artistForm.search.$error.minlength" class="help-block">Search is too short.</p>
					<!-- provides a button that allows user to search. however, it is not visiable on the web -->
	                <button class="invisible" ng-disabled="artistForm.search.$invalid" class="btn btn-success" ng-click="getArtists()" type="submit">Submit</button>
	            </div>
			</form>
			<div>
				<!-- show list of album covers with artist name -->
                <div ng-repeat="artist in artists" ng-click="relatedArtist(artist)" class="boxes">
                	<img src="{{artist.images[1].url}}" /> {{artist.name}}
				</div>
            </div>
		</div>

		<!-- Album search -->
		<div>
			<form class="container" name="albumForm" nonvalidate>
				<div class="form-group" ng-class="{'has-error' : !albumForm.search.$pristine && albumForm.search.$error.minlength}">
					<input name="search" ng-model="findAlbum" ng-minlength="3" class="form-control" placeholder="Album search..." required></input>
					<!-- provides error message only when search is shorter than minimum length -->
					<p ng-show="albumForm.search.$error.minlength" class="help-block">Search is too short.</p>
	                <!-- provides a button that allows user to search. however, it is not visiable on the web -->
	                <button class="invisible" ng-disabled="albumForm.search.$invalid" class="btn btn-success" ng-click="getAlbums()" type="submit">Submit</button>
	            </div>
			</form>
			<div>
				<!-- shows list of album covers with album name -->
				<div ng-repeat="album in albums" ng-click="relatedAlbum(album)" class="boxes">
                   <img src="{{album.images[1].url}}" />{{album.name}}
                </div>
			</div>
		</div>
		
		<!--  Song search -->
		<div>
			<form class="container" name="songForm" nonvalidate>
				<div class="form-group" ng-class="{'has-error' : !songForm.search.$pristine && songForm.search.$error.minlength}">
					<!-- <label>Spotify search:</label> -->
					<input name="search" ng-model="findTrack" ng-minlength="3" class="form-control" placeholder="Song search..." required></input>
					<!-- provides error message only when search is shorter than minimum length -->
					<p ng-show="songForm.search.$error.minlength" class="help-block">Search is too short.</p>
	                <!-- provides a button that allows user to search. however, it is not visiable on the web -->
	                <button class="invisible" ng-disabled="songForm.search.$invalid" class="btn btn-success" ng-click="getSongs()" type="submit">Submit</button>
	            </div>
			</form>
			<div>
				<!-- shows list of album covers with song name. when you click the album cover, it allows you to hear preview --> 
                <div ng-repeat="track in tracks" ng-click="relatedSong(track)" class="col-md-6 img boxes">
                    <div ng-click="play(track.preview_url)">
                        <img src="{{track.album.images[1].url}}" />{{track.name}}
                    </div>
                </div>
            </div>
		</div>

	</div>
</body>
</html>
